extends layout

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/jquery.js')    
  script(src='/javascripts/d3.v2.js')
  script(src='/javascripts/wall.js')    

block content
  .header
    .user Jij bent  
      span#username= user.name
      |  (
      a(href="/logout") uitloggen
      | )
  .content
    block body
