body {
  background-color:black;
  color: white;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: #054985;
  font: bold 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#msgpane {
  width: 25em;
  float: left;
}

#msgpane textarea{
  width: 23em;
  margin: 0 1em;
}
 
.msg {
  padding: .5em;
  white-space: pre;
  font-size: 32px;
}

#username, a {
  color: #054985;
}

.msg .address{
  font-size: 16px;
  color: white;
}

.msg.send {
  text-align:right;
}

#newmessage h1 {
  cursor:pointer;
  text-decoration: underline;
}

.hide {
  display:none;
}

.chord path {
  fill-opacity: .40;
  stroke-width: 1px;
}
.ring path {
  stroke-width: 1px;
}
.label path {
  fill: none;
}
